deepin
autostart
gconf
mimeapps.list
SogouPY
Trolltech.conf
Code - OSS
electronic-wechat
gtk-3.0
pulse
SogouPY.users
user-dirs.dirs
dconf
fcitx
jesseduffield
netease-cloud-music
user-dirs.locale
thefuck
plugins
plugged
